#background, #foreground {
  width: 680px;
  height: 480px;
  position: fixed;
  z-index: 1;
}

#background {
  z-index: 0;
  background-color: bisque;
  border: 3px solid red;
}

body {
  background-color: black;
}
