#b, #f, #m {
    position: fixed;
    z-index: 2;
}

#m {
    z-index: 1;
}

#f {
    border: 3px solid red;
}

#b {
    z-index: 0;
    background-color: bisque;

}

body {
    background-color: black;
}
